html, body {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.scroll-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.img-container {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-container img {
  width: 300px;
  height: 400px;
}

.overlay {
  position: absolute;
  top: 50%;
  right: 40px; /* Ajusta este valor para mover el overlay horizontalmente */
  transform: translateY(-50%);
  background: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px; /* Ajusta este valor para mover el overlay verticalmente */
}

.product-link {
  color: inherit;
  text-decoration: none;
}

.product-link:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .img-container img {
      width: 150px;
      height: 200px;
  }
  .overlay {
      font-size: 14px;
      right: 5px;
  }
  .outfit-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #000000;
  bottom: 50px;
  transform-origin: center;
}

.outfit-button {
  background-color: transparent;
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.outfit-button:hover {
  background-color: black;
  color: white;
}

.outfit-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.outfit-button:active::before {
  transform: scaleX(1);
}

/* Para navegadores basados en Webkit (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
.scroll-container {
  scrollbar-width: none;
}

/* Para Internet Explorer y Edge */
.scroll-container {
  -ms-overflow-style: none;
}

/* CSS a añadir en RecomendationPage.css */
.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
  z-index: 9999; /* Asegurar que está sobre todo */
}


.close-button:hover {
  color: #ff0000;
}

/* CSS a añadir en RecomendationPage.css */
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  z-index: 9999; /* Asegura que está por encima de todo */
  transition: color 0.3s ease;
}

.logo:hover {
  color: #ff0000;
}